*{
    overflow: hidden;
}

.rbg{
   background: linear-gradient(109.6deg, rgb(168, 174, 182) 5.2%, rgb(24, 29, 49) 41.2%, rgb(90, 69, 69) 98.6%);
   width: 210vh;
   height: 100vh;
   
}
.r1st{
color:white;
font-size: 2.5em;
font-weight: 500;
background-color: rgb(205, 171, 34);
width: 500px;
border-radius:0 0 250px;
margin-top: 10px;
margin-bottom: 10px;
box-shadow: 19px 1px 5px 0px rgba(7, 35, 34, 0.75);
-webkit-box-shadow: 19px 10px 5px 0px rgba(16, 46, 41, 0.75);
-moz-box-shadow: 39px 10px 5px 0px rgba(9, 244, 212, 0.75);
}
.andclr{
color: rgb(0, 194, 0);
}
.rbell{
    border-style: solid;
border-color: brown;
width: 50px;
height: 50px;  
padding:10px;
border-radius: 30px;
border:4px; 
color:green

}
.rbetl{
color:rgb(27, 237, 23);
border-style: solid;
border-color: brown;
width:300px;
border-radius:  50px 0 0 50px;
font-size: 2.5em;
box-shadow: 10px;
border:4px solid ;
box-shadow: 39px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 19px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 39px 10px 5px 0px rgba(0,0,0,0.75);

}
.rimg{
    width:200px;
    height:300px;
    background-color:rgb(199, 212, 14);
    border: px solid transparent;
    margin-left: 60px;
  
 border-radius: 10px;
  box-shadow: 5px 10px 5px 10px rgba(19, 244, 206, 0.75);
-webkit-box-shadow: 1px 10px 5px 1px rgba(33, 248, 233, 0.75);
-moz-box-shadow: 1px 10px 5px 0px rgba(12, 230, 204, 0.75);

}
.r2text{
color: rgb(255, 250, 232);
font-size: 1em;
font-weight: 500;
}
.r21text{
    color: rgb(255, 255, 255); 
}
.r2tet{
    background-color: rgb(205, 171, 34);
    box-shadow: 39px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 39px 10px 5px 10px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.r23tet{
    color: white;
}
.r23bg{
    color:rgb(27, 237, 23);
}
.vl {
    border-left: 3px dashed rgb(252, 255, 252);
    height: 100px;
    margin-top: 12px;
    margin-left: 45px;

  }
  
    .v2{
        width:100%;
        border-top: 3px dashed rgb(252, 255, 252);
        margin-top: 20px;
      }
      .r1img{
        width:100px;
        height:100px;
        background-color:rgb(235, 236, 230);
        border: 2px dashed transparent;
      border-radius: 100px;
     
      box-shadow: 5px 10px 5px 10px rgba(19, 244, 206, 0.75);
    -webkit-box-shadow: 1px 10px 5px 1px rgba(33, 248, 233, 0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(12, 230, 204, 0.75);
    
      }
      .v1text{
        background-color: aqua;
        color: black;
        border-radius: 100px;
        border: 2px solid;
        border-color: rgb(255, 255, 255);
        padding-left: 25px;
        width: 100px;
      }
      .v2text{
        background-color: aqua;
        color: black;
        border-radius:10px;
        padding: 1px;
        width:60px;
        border: 2px solid;
        border-color: blue;
        margin-top: 12px;
        padding-left: 10px;
        margin-left: 25px;
      }
      .r4img{
        width:300px;
        height:300px;
        background-color:rgb(235, 236, 230);
        border: 2px dashed transparent;
      border-radius: 200px;
     margin-left: 70px;
      box-shadow: 5px 10px 5px 10px rgba(19, 244, 206, 0.75);
    -webkit-box-shadow: 1px 10px 5px 1px rgba(33, 248, 233, 0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(12, 230, 204, 0.75);
      }
  .r2teinn{
    color: 	rgb(255, 255, 255);
    margin-left: 50px;
    
    height: 250px;
    font-size: 1.1em;
    border-radius: 0 10px 0 50px;
     
     box-shadow: 1px 10px 15px 20px rgba(53, 42, 42, 0.75);
     -webkit-box-shadow: 1px 1px 15px 10px rgba(51, 13, 13, 0.75);
     -moz-box-shadow: 1px 1px 15px 10px rgba(51, 38, 38, 0.75);
         border-radius: 2px;
     
  }
  .r5img{
    height: 400px;
    width: 400px;
color: aqua;
  }
.r2ltext{
    color: white;

       
        border-color: rgb(255, 255, 255);
        padding-left: 25px;
        text-shadow: 1px 1px  2px #f0ffa7;
       
        box-shadow: 1px 10px 15px 20px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 1px 15px 10px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 15px 10px rgba(0,0,0,0.75);
            border-radius: 2px;
        
}
.r6img{
    width: 150px;
    height: 50px;
    box-shadow: 1px 10px 15px 20px rgba(136, 110, 110, 0.75);
    -webkit-box-shadow: 1px 1px 15px 10px rgba(111, 80, 80, 0.75);
    -moz-box-shadow: 1px 1px 15px 10px rgba(105, 79, 79, 0.75);
        border-radius: 2px;
}
